body {
  margin: 1.4em;
  background-color: #266A2E;
}

h2 { font-size: 4em;}

h3 {
  color: #CF5000;
  font-size: 2em;
}

p {
  font-size: 120%;
  text-indent: 2em;
  padding: 0 5% 0 5%;
}

#button1 { color: #000;}

#link1 { 
  padding: 10px 20px 10px 20px;
  text-indent: 2em;
}
